.data {
  max-width: 600px;
  width: 90%;
  margin: 2em auto 1.5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2.5em;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  margin: 0 auto;
}
.chart-container canvas {
  flex: 1 1 300px;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 200px;
  min-height: 200px;
  display: block;
  margin: 0 auto;
}

#ownerChart {
  display: block;
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
}
